.creditsWrapper
  .section
    .aTitle Developers:
    .name
      a(href='http://www.dallinosmun.com/') Dallin Osmun
    .name Justin Permann
  hr
  .section
    .aTitle Designers:
    .name Justin Permann
    .name
      a(href='http://www.dallinosmun.com/') Dallin Osmun
  hr
  .section
    .aTitle Music by:
    .name
      a(href='http://www.mattmcfarland.com/') Matt McFarland
  .button.back Back