.creditsWrapper
    .credText.text Developers: <br />Dallin Osmun Justin Permann<hr />
    .credText.text Designers: <br />Justin Permann Dallin Osmun<hr />
    .credText.text Music by: <br />
        a(href= 'http://www.mattmcfarland.com/') Matt McFarland
    .back.menuButton Back