h1(style = 'color: white; text-align: center;') High Scores
.highScoreWrapper(style = 'text-align: center')

    each name, i in names
        .thisName(style = 'color:white;')= (i+1) + ". " + name

.back.menuButton Back