.title(style = 'text-align: center; color: white;') Centipede
.mainMenu
    .newGame.menuButton New Game
    .highScores.menuButton High Scores
    .credits.menuButton Credits
    .settings.menuButton Settings
    .exit.menuButton Exit