.creditsWrapper
  width: 1000px

  .section
    .aTitle
      color: $text-color
      font-size: 175%

    .name
      margin: 15px 0 15px 200px
      color: red
      font-size: 175%

      a
        color: red
        text-decoration: none

        &:hover
          text-decoration: underline
