#slide-credits
  &.active
    .creditsWrapper
      opacity: 1

.creditsWrapper
  width: 1000px
  padding: 1000px
  background-color: rgba(0, 0, 0, .5)
  opacity: 0
  transition(opacity, 1s)

  .section
    .aTitle
      color: $text-color
      font-size: 175%

    .name
      margin: 15px 0 15px 200px
      color: red
      font-size: 175%

      a
        color: red
        text-decoration: none

        &:hover
          text-decoration: underline
