.gameWrapper

  .myScore
    position: absolute
    top: 40px
    left: 520px
    color: white

  .lives
    position: absolute
    top: 20px
    left: -110px
    color: white

  .highestScore
    position: absolute
    top: 10px
    left: 520px
    color: white

  .playAgain
    width: 200px;
