.menuWrapper
  width: 500px
  height: 760px

  .title
    font-size: 250%
    // font-family: 'Monofett', sans-serif
    text-align: center
    color: white

  .main-menu
    text-align: center
    padding-top: 50px
