$background-color   = #1d1d1d
$button-color       = #373737
$text-color           = #940606

*
    padding: 0
    margin: 0
    font-family: 'Monofett', cursive
    font-size: 110%

body
  background-color: $background-color

.button
  width: 220px
  height: 40px
  margin: 0 auto 10px auto
  text-align: center
  background-color: $button-color
  color: $text-color
  border-radius: 8px
  border: solid 1px
  cursor: pointer

  &:hover
    background-color: $background-color

  &.back
    width: 100px
